.product-list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.product-container{
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0rem auto;
    flex-wrap: wrap;
}

.product-item {
    background: white;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    margin: 2rem;
}
.title{
    margin: 0rem;
    font-size: 1.2rem;
    text-align: center;
}
.price{
    margin: 1rem;
    font-weight: 300;
    font-size: 1.2rem;
}

.product-image {
    width: 100%;
    margin-top: 1rem;
}

.add-btn{
    background-color: var(--green);
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    width: 10rem;
    color: #fff;
    cursor: pointer;
    outline: none;
}

@media screen and (max-width: 1400px) {
    .product-item {
        width: 40%;
    }
}

@media screen and (max-width: 1200px) {
    .product-container {
        width: 100%;
        justify-content: center;
    }

    .product-item {
        width: 30%;
    }
}

@media screen and (max-width: 968px) {
    .product-item {
        width: 50%;
    }    
    .price{
        font-weight: 400;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .product-item {
        width: 100%;
    }
}