
.paragraf {
  text-align: center;
  width: 75%;
}
.iconList{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem;
  width: 70%;
  list-style: none;
}
.icon{
  color: #56EAC6;
  font-size: 3rem;  
  cursor: pointer;
}

@media (max-width: 768px) {
    .paragraf{
        font-size: 1rem;
    }
    .iconList{
        width: 100%;
    }
}