.orderView-container { 
    background: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.orderlisting-div1 {
    background: blue;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
}
.orderlisting-div2 {
    background: green;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
}

.order-listings {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1rem 0rem;
}

.order-cart {
    width: 12rem;
    display: flex;
    justify-content: space-between;
}


/* The product*/

.orderinfo-item {
 padding: .5rem;
}
.title{
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 400;
}
.order-img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    align-self: center;
}
.orderInfo-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.quantity{
    text-align: center;
}
.item {
    display: flex;
    width: 100%;
    margin: 0rem auto;
    justify-content: center;
    flex-direction: column;
}


@media screen and (max-width: 1380px){

    
}

@media screen and (max-width: 630px){

.orderlisting-div { 
         width: 100%;
    }
    
}