.orderView-container { 
    display: flex;
    justify-content: center;
    width: 50%;
}

.order-div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 12rem;
}

.order-listings {
    width: 12rem;
    display: flex;
    justify-content: space-between;
}

.order-div img {
    width: 100%;
}
