.delivery-div {
    padding: .3rem 2.5rem;
    display: flex;
    flex-direction: column;
    text-align: center; 
    background: #56EAC6;
    margin: .3rem 0;
    border-radius: 1rem;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
}
.company{
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.delivery-div span {
    font-size: 1.2rem;
     text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}