
.form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.container{
    cursor: pointer;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    background: #ddd;
    width: 80%;
    height: 3rem;
    font-weight: 500;
}