@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
:root {
    --green: #56EAC6;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0rem 4rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.header-title {
    font-family: 'Yellowtail', cursive;
    color: var(--green);
    font-size: 3.5rem;
    font-weight: 500;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    
}

.cart-container {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 4rem;
    height: 3rem;
}

.cart-content {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
}

nav {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: 500;
    font-size: 1.2rem;
}
.nav-links li {
    margin: 0rem 1rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1200px) {
    .main-header {
        background: #fff;
        box-shadow: 1px 1px 5px #ddd;
    }



    .nav-links {
        position: fixed;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: #fff;
        z-index: 200;
        width: 50%;
        height: 100vh;
        top: 10vh;
        transition: right 500ms ease-in;
    }
    .nav-links li {
        font-size: 1.5rem;
        margin: 1.5rem 0rem;
    }
}

@media (max-width: 968px) {
    .main-header {
        padding: 0rem 2rem
    }
    .header-title {
        font-size: 2rem;
    }
    .nav-links {
        position: absolute;
        width: 100%;
        right: -100%;
    }
}

@media (max-width: 768px) {
    .main-header {
        padding: 0rem 1rem
    }
    .header-title {
        font-size: 2.2rem;
    }
    .cart-content {
        right: 0;
        width: 1.2rem;
        height: 1.2rem;
        padding: 0.5rem;
        font-size: 1rem;
        background: var(--green);
        color: #fff;
        border-radius: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
}